<ion-view title="Tabs Controller" id="tab" class=" ">
    <ion-tabs class="tabs-stable tabs-icon-top " id="tabsController-tabs3">
        <ion-tab title="Envoyer Snap" icon="ion-ios-camera" href="#/tab/page14" id="tabsController-tab6" class=" ">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Voir Snap" icon="ion-ios-chatboxes" href="#/tab/snap" id="tabsController-tab7" class=" ">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>